{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}
        <!-- Header-->
        <header class="d-flex align-items-center">
            <div class="container px-4 px-lg-5 text-center">
                <h1 class="mb-1">NTCoin Currentcy</h1>
                <h3 class="mb-5"><em>Entro for NTCoin when click find more will derict to video </em></h3>
                <a class="btn btn-primary btn-xl" href="#about">Find Out More about NTcoin</a>
            </div>
        </header>
        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>Transaction is now simple</h2>
                        <p class="lead mb-5">
                            You can send, recieve, pay anyone and anywhere.
                        </p>
                        <a class="btn btn-dark btn-xl" href="/signup">Start here</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Portfolio-->
        <section class="content-section" id="portfolio">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                    <h3 class="text-secondary mb-0">Autorize Outlet</h3>
                    <h2 class="mb-5">Place where you can buy NTCoin</h2>
                </div>
                <div class="row gx-0">
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">La Galette</div>
                                    <p class="mb-0">123 avenida luis dana point ca 12345</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio-1.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Ice Cream Shop</div>
                                    <p class="mb-0">432 el camino real san juan capitrano cs 76543</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio-2.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Movie</div>
                                    <p class="mb-0">789 victoria los angeles ca 56789</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio-3.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">spaceX</div>
                                    <p class="mb-0">901 bolca chica texas 67890</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio-4.jpg" alt="..." />
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Map-->
        <div class="map" id="contact">
            <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
            <br />
            <small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a></small>
        </div>
        <!-- Footer-->

{% endblock body %} 




