{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}
        <!-- Header-->
        <header class="d-flex align-items-center">
            <div class="container px-4 px-lg-5 text-center">
                <h1 class="mb-1">NTCoin Currentcy</h1>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
            </div>
        </header>
        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>Transaction is now simple</h2>
                        <p class="lead mb-5">
                            You can send, receive, pay anyone and anywhere.
                        </p>
                        <a class="btn btn-dark btn-xl" href="/signup">Start here</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Portfolio-->
        <section class="content-section" id="portfolio">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                    <h3 class="text-secondary mb-0">Authorized Outlet</h3>
                    <h2 class="mb-5">Places where you can buy NTCoin</h2>
                </div>
                <div class="row gx-0">
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">La Galette</div>
                                    <p class="mb-0">123 Avenida Luis, Dana Point, CA, 12345</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio-1.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Ice Cream Shop</div>
                                    <p class="mb-0">432 El Camino Real, San Juan Capitrano, CA, 76543</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio-2.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">The Movies</div>
                                    <p class="mb-0">789 Victoria, Los Angeles, CA, 56789</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio-3.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">spaceX</div>
                                    <p class="mb-0">901 Bolca Chica, TX, 67890</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio-4.jpg" alt="..." />
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Map-->
        <div class="map" id="contact">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.7003696645493!2d-117.62607618518733!3d33.43105525765647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcf40c6f2bbf53%3A0x25f2fdacf139a75!2s126%20Avenida%20Pelayo%2C%20San%20Clemente%2C%20CA%2092672!5e0!3m2!1sen!2sus!4v1634670066654!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>            <br />
        </div>
        <!-- Footer-->

{% endblock body %} 




