{% extends "base.html" %}
{% block title %}Edit Profile{% endblock title %}
{% block body %} 
<h3>Your Profile</h3>
<br>
    <div class="form-group">
        Name: <input type="text" value="{{ user.name }}">
    </div>
    <hr>
    <div class="form-group">
        Username: <input type="text" value="{{ user.username }}">
    </div>
    <hr>
    <div class="form-group">
        Email: <input type="text" value="{{ user.email }}">
    </div>
    <hr>
    Become a seller <a href="/node"> Here! </a>
    <hr>
    <br>
    <a href="/profile/edit" class="btn btn-primary">Edit Information</a>
{% endblock %}