{% extends 'base.html' %}

{% block title %} Your Transactions {% endblock title %}

{% block body %}


<div class="row">
    <h3>Your Transactions:</h3>
    <div class="col">
        <h4>Transactions Initialized:</h4>
        {% for s in sent %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                        <div class="col">Reciver: {{ s.reciver }}</div>
                        <div class="col">Amount: {{ s.amt }}</div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    <br>
    <div class="col">
        <h4>Transactions Recived:</h4>
        {% for r in recived %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                        <div class="col">Sender: {{ r.sender }}</div>
                        <div class="col">Amount: {{ r.amt }}</div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
</div>


{% endblock body %}